# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
assets/JunhaoHuang_CV/jhhuang_cv.aux
assets/JunhaoHuang_CV/jhhuang_cv.fdb_latexmk
assets/JunhaoHuang_CV/jhhuang_cv.fls
assets/JunhaoHuang_CV/jhhuang_cv.log
assets/JunhaoHuang_CV/jhhuang_cv.synctex.gz
assets/JunhaoHuang_CV/jhhuang_cv.xdv
assets/JunhaoHuang_CV/Chinese/resume.aux
assets/JunhaoHuang_CV/Chinese/resume.fdb_latexmk
assets/JunhaoHuang_CV/Chinese/resume.fls
assets/JunhaoHuang_CV/Chinese/resume.log
assets/JunhaoHuang_CV/Chinese/resume.synctex.gz
assets/JunhaoHuang_CV/Chinese/resume.xdv
assets/JunhaoHuang_CV/anjiayang_cv.aux
assets/JunhaoHuang_CV/anjiayang_cv.fdb_latexmk
assets/JunhaoHuang_CV/anjiayang_cv.fls
assets/JunhaoHuang_CV/anjiayang_cv.log
assets/JunhaoHuang_CV/anjiayang_cv.out
assets/JunhaoHuang_CV/anjiayang_cv.pdf
assets/JunhaoHuang_CV/anjiayang_cv.synctex.gz
assets/JunhaoHuang_CV/anjiayang_cv.tex
assets/JunhaoHuang_CV/anjiayang.jpg
assets/JunhaoHuang_CV/debiaohe_cv.aux
assets/JunhaoHuang_CV/debiaohe_cv.fdb_latexmk
assets/JunhaoHuang_CV/debiaohe_cv.fls
assets/JunhaoHuang_CV/debiaohe_cv.log
assets/JunhaoHuang_CV/debiaohe_cv.out
assets/JunhaoHuang_CV/debiaohe_cv.pdf
assets/JunhaoHuang_CV/debiaohe_cv.synctex.gz
assets/JunhaoHuang_CV/debiaohe.aux
assets/JunhaoHuang_CV/debiaohe.fdb_latexmk
assets/JunhaoHuang_CV/debiaohe.fls
assets/JunhaoHuang_CV/debiaohe.jpg
assets/JunhaoHuang_CV/debiaohe.log
assets/JunhaoHuang_CV/debiaohe.out
assets/JunhaoHuang_CV/debiaohe.pdf
assets/JunhaoHuang_CV/debiaohe.synctex.gz
assets/JunhaoHuang_CV/debiaohe.tex
