# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
assets/JunhaoHuang_CV/jhhuang_cv.aux
assets/JunhaoHuang_CV/jhhuang_cv.fdb_latexmk
assets/JunhaoHuang_CV/jhhuang_cv.fls
assets/JunhaoHuang_CV/jhhuang_cv.log
assets/JunhaoHuang_CV/jhhuang_cv.synctex.gz
assets/JunhaoHuang_CV/jhhuang_cv.xdv
